html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: black;
    color:blanchedalmond;
}
a {
    color:antiquewhite;
}
a:visited {
    color: aqua;
}
a:hover {
    color: aquamarine
}
h1, nav{
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
table{
    border: 1px dashed red;
    align-self: center;
    width: 100%;
}
tr, td {
    border: 1px dashed red;
    align-self: center;
    width: auto;
}
.contents{
    text-align: left;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.grid-child-purple {
    color: purple;
    border: 1px dashed;
}
.grid-child-green {
    color: green;
    border: 1px dashed;
}